#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
qrcode[pil]
requests
appdirs             
asn1crypto          
astroid            
asttokens           
attrs               
automationhat       
beautifulsoup4      
bleach              
blinker             
blinkt              
bottle              
buttonshim          
Cap1xxx             
certifi             
chardet             
cheroot             
CherryPy            
Click               
clize               
colorama            
colorzero           
cookies             
cryptography        
cycler              
decorator           
distro-info         
docutils            
drumhat             
entrypoints         
envirophat          
ExplorerHAT         
Flask               
fourletterphat      
gnupg               
gpiozero            
guizero             
html5lib            
idlex               
idna                
importlib-metadata  
ipykernel           
ipython             
ipython-genutils    
isort               
itsdangerous        
jaraco.classes      
jaraco.collections  
jaraco.functools    
jaraco.text         
jedi                
Jinja2              
jupyter-client      
jupyter-core        
keyring             
keyrings.alt        
kiwisolver          
lazy-object-proxy   
logilab-common      
lxml                
MarkupSafe          
matplotlib          
mccabe              
microdotphat        
more-itertools      
mote                
motephat            
mypy                
mypy-extensions     
nudatus             
numpy               
oauthlib            
od                  
olefile             
packaging           
pantilthat          
parso               
pathtools           
pexpect             
pgzero              
phatbeat            
pianohat            
picamera            
pickleshare         
picraft             
piglow              
pigpio              
Pillow              
pip                 
pkginfo             
portend             
prompt-toolkit      
psutil                         
pycodestyle         
pycrypto            
pycurl              
pyflakes            
pygame              
Pygments            
PyGObject           
pyinotify           
PyJWT               
pylint                       
pyparsing           
pyserial            
PySocks             
python-apt          
python-dateutil     
python-gnupg        
pytz                
pyxdg               
pyzmq               
qr                  
qrcode              
qtconsole           
rainbowhat              
requests            
requests-oauthlib   
requests-toolbelt   
responses           
roman               
RPi.GPIO                      
scrollphat          
scrollphathd        
SecretStorage       
semver              
Send2Trash          
sense-emu           
sense-hat           
setuptools          
sigtools            
simplegeneric       
simplejson          
six                 
skywriter           
sn3218              
soupsieve           
spidev              
sseclient-py        
ssh-import-id       
stem                
tempora             
thonny              
tornado             
touchphat           
tqdm                
traitlets           
tweepy              
twine               
twython            
typed-ast           
uflash                               
unicornhathd        
urllib3             
virtualenv          
watchdog            
wcwidth             
webencodings        
Werkzeug            
wheel               
wrapt               
zc.lockfile         
zerobin             
zipp                

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers
art == 4.6             # art 4.6

#
###### Refer to other requirements files ######

#
#
###### A particular file ######
#
###### Additional Requirements without Version Specifiers ######
#   Same as 1st section, just here to show that you can put things in any order.

#
