#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######
apturl
art
bcrypt
blinker
Brlapi
certifi
chardet
command-not-found
cryptography
cupshelpers
dbus-python
defer
duplicity
entrypoints
fasteners
future
httplib2
idna
jsonrpc
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
monotonic
munch
netifaces
oauthlib
olefile
paramiko
pexpect
Pillow
pip
protobuf
psutil
pycairo
pycups
PyGObject
PyJWT
pymacaroons
PyNaCl
pyRFC3339      
python-bitcoinrpc
python-dateutil
python-debian
python-jsonrpc
pytz
pyxdg
PyYAML
qrcode
reportlab
requests
requests-unixsocket
SecretStorage
setuptools
simplejson
six
ssh-import-id
systemd-python
unattended-upgrades
urllib3
usb-creator
wadllib
wheel
xkit

#
###### Requirements with Version Specifiers ######
#   See https://www.python.org/dev/peps/pep-0440/#version-specifiers

#
###### Refer to other requirements files ######

#
#
###### A particular file ######
#
###### Additional Requirements without Version Specifiers ######
#   Same as 1st section, just here to show that you can put things in any order.

#
